.cover__subtitle {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 66px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: calc(50% + 32px);
  left: calc(50% - 180px);
  z-index: 1;



  border: 1px solid yellow;
}
