/*  микс
    Выравнивает блок по центру,
    Задаёт верхний отступ.  */
.content__cover {
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .content__cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .content__cover {
    margin-top: 66px;
  }
}
