/*  микс  для блока photo-grid.
    Задаёт расположение блока - по центру.
    Задёт верхний отступ */
.content__photo-grid {
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .content__photo-grid {
    margin-top: 88px;
  }
}
