/*  микс  для блока photo-grid.
    Задаёт расположение блока - по центру.
    Задёт верхний отступ */
.content__photo-grid {
  margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1023px) {
  .content__photo-grid {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .content__photo-grid {
    margin: 64px 16px 0 16px;
  }
}
