/*  микс для блока intro.
    Задаёт внешние отступы. */
.content__intro {
  margin-top: 92px;
  margin-left: 148px;
}

@media screen and (max-width: 1279px) {
  .content__intro {
    margin-left: 48px;
  }
}
