.place__link {
  margin: 0;
  padding: 0;
  max-width: 456px;
  margin-top: 12px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  cursor: pointer;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .8;
}
