.cover__overlay {
  display: block;
  width: 1184px;
  height: 740px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(93, 113, 143, 0.3);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
