/*  микс
    Задаёт внешние отступы,
    Задаёт расположение блока по центру */
.page__footer {
  margin: 90px 48px 0 48px;
}

@media screen and (max-width: 1023px) {
  .page__footer {
    margin: 84px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__footer {
    margin: 64px 118px 0 16px;
  }
}
